/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poiret-one-regular {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}


body, html {
  height: 100vh;
  font-family: "Poiret One", sans-serif;
  
  scroll-behavior: smooth;
  background-color: #292728;
}

.mbody{
  background-color: #fff;
}

p{
  padding: 10px;
  font-size: 1.2rem;
}

/* Sezioni di contenuto normali */
.section {
  padding: 80px 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 66px 66px 0 0;
}
.sectionantipasti {
  padding: 80px 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 66px 66px 0 0;
}
.sectionprimi{
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 66px 66px 0px 0px;
}
.sectionprimi h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #292728;
}
.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #292728;
}

/** --- Effetto Parallasse --- 
.parallax {
  /* immagine di sfondo fissa 
  background-image: url('miao2.jpg');
  min-height: 400px;
  background-attachment: fixed;  /* 🔥 qui avviene il parallasse 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('demo.jpg');
}

/* --- Hero con parallasse iniziale --
@media (max-width: 768px) {
  .hero {
    min-height: 100svh; /* migliore su mobile 
    padding: 40px 20px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
**/

.hero {
  color: #fff;
}

.hero-content {
  background-image: url('logo.jpeg');
  background-position: center;
  height: 100svh;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}
/*
.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.2 );  overlay scuro 
}
*/
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 8px 6px 6px, rgba(0, 0, 0, 0.2 );
}

.hero-content p {
  font-size: 1.6rem;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 0px;
  background: #292728;
  color: #fff;
  padding: 10px;
}

.imgchisiamo{
  position: relative;
}

.imgvini{
  display: flex;
  align-items: right;
  margin-right: 0;
  margin-left: auto;
  max-width: 50%;
}
/*
a{
  text-decoration: none;
  border-radius: 66px;
  padding: 13px 20px 13px 20px;
 
  font-size: 1.1rem;
  color: #292728;
  font-weight: bold;
  box-shadow: 0px 4px 6px;
  transition: all 0.6s;
}


*/
.logoa{
  text-decoration: none;
  border-radius: 66px;
  padding: 13px 20px 13px 20px;
  font-size: 1.1rem;
  color: #292728;
  font-weight: bold;
  box-shadow: 0px 4px 6px;
  transition: all 0.6s;
}

a:hover{
  background-color: #fff;
  color: #292728;
  box-shadow: 0px 1px 1px;
  transition: all 0.6s;
}

.menu{
  color: #fff;
  border-radius: 66px 66px 0px 0px;
  padding-bottom: 60px;
  padding-top: 0px;
  font-size: 1.3rem;
}

.title{
  background-image: url("logob.png");
  position: relative;
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  color: #fff;
}